*{
    margin: 0;
}
@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_slnt\,wght.ttf);
}
.container{
    width: 100%;
    display: flex;
    position: absolute;
}
.img1{
    width: 100%;
    height: 254px;
    position: relative;
    z-index: 2;
}
.img2{
    width: 100%;
    height: 254px;
    position: relative;
    z-index: 1;
}
.img3{
    width: 100%;
    height: 254px;
    position: relative;
    z-index: 2;
}
p{
    font-family: inter;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    z-index: 3;
    top: 175px;
}